<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smajko.watapp" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="org.smajko.watapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.smajko.watapp.IntroActivity"
            android:label="@string/app_intro" >
        </activity>

        <activity
            android:name="org.smajko.watapp.AgeActivity"
            android:label="@string/age_title" >
        </activity>

        <activity
            android:name="org.smajko.watapp.SymptomActivity"
            android:label="@string/symptom_title" >
        </activity>

        <activity
            android:name="org.smajko.watapp.CropActivity"
            android:label="@string/crop_title" >
        </activity>
    </application>

</manifest>
